.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .content {
    background-color: #fff;
    z-index: 1;
    /* max-width: 85%; */
    padding: 10px;
    border-radius: 10px;
  }
}
